<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout}">
<head>
    <title>Детали записи</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa fa-bars"></i> Параметры</h3>
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="/index">Главная</a></li>
                <li><i class="fa fa-bars"></i><a href="/parameters">Параметры</a></li>
                <li><i class="fa fa-square-o"></i><a href="/parameters/countries">Страны</a></li>
            </ol>
        </div>
    </div>
    <div class="container" style="width: 70%">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <form id="cform" class="form-horizontal">
                    <section class="panel">
                        <header class="panel-heading">Детали запись страны</header>
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="control-label col-sm-4">Id:</label>
                                <div class="col-sm-6">
                                    <input type="text" th:value="${country.id}" name="id" size="16" class="form-control"
                                           disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">Страна:</label>
                                <div class="col-sm-6">
                                    <input type="text" th:value="${country.description}" name="description" size="16"
                                           class="form-control"
                                           disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">Столица:</label>
                                <div class="col-sm-6">
                                    <input type="text" th:value="${country.capital}" name="capital" class="form-control"
                                           size="16"
                                           disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">Континент:</label>
                                <div class="col-sm-6">
                                    <input type="text" th:value="${country.continent}" name="continent"
                                           class="form-control"
                                           disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">Код:</label>
                                <div class="col-sm-6">
                                    <input type="text" th:value="${country.code}" name="code" class="form-control"
                                           disabled>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4">Добавлен:</label>
                                <div class="col-sm-6">
                                    <input type="text" th:value="${country.createdBy}" class="form-control"
                                           name="createdBy"
                                           disabled>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4">Дата добавления:</label>
                                <div class="col-sm-6">
                                    <input type="text"
                                           th:value="${#dates.format(country.createdDate, 'dd-MM-yyyy HH:mm:ss')}"
                                           class="form-control"
                                           name="createdDate"
                                           disabled>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4">Последнее обновление от:</label>
                                <div class="col-sm-6">
                                    <input type="text" th:value="${country.lastModifiedBy}" class="form-control"
                                           name="lastModifiedByDetails"
                                           disabled>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4">Дата обновления:</label>
                                <div class="col-sm-6">
                                    <input type="text"
                                           th:value="${#dates.format(country.lastModifiedDate, 'dd-MM-yyyy HH:mm:ss')}"
                                           class="form-control" name="lastModifiedDateDetails"
                                           disabled>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <a href="/parameters/countries" class="btn btn-danger">Выйти</a>
                            </div>
                        </div>
                    </section>
                </form>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        Список регионов страны:
                    </header>
                    <div class="panel-body">
                        <table class="table table-advance table-hover">
                            <tbody>
                            <tr>
                                <th><i class="icon_profile"></i> Регион</th>
                                <th><i class="icon_calendar"></i> Столица</th>
                                <th><i class="icon_mail_alt"></i> Код</th>
                                <th><i class="icon_pin_alt"></i> Детали</th>
                                <th><i class="icon_cogs"></i></th>
                            </tr>
                            <tr th:each="region: ${country.regions}">
                                <td th:text="${region.name}"></td>
                                <td th:text="${region.capital}"></td>
                                <td th:text="${region.code}"></td>
                                <td th:text="${region.details}"></td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-success" th:href="@{'/parameters/regions/Details/'+${region.id}}">
                                            <i class="icon_document_alt"></i></a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
</body>
</html>