<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout}">
<head>
    <title>Добавление поставщика</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa fa-bars"></i>Новая запись поставщика</h3>
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="/index">Главная</a></li>
                <li><i class="fa fa-bars"></i><a href="/parameters">Параметры</a></li>
                <li><i class="fa fa-square-o"></i><a href="/parameters/suppliers">Поставщики</a></li>
            </ol>
        </div>
    </div>
    <div class="container" style="width: 70%">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <form th:action="@{/parameters/suppliers}" method="POST" id="cform" class="form-horizontal">
                    <section class="panel">
                        <header class="panel-heading">Новый поставщик</header>
                        <div class="panel-body">
                            <div class="col-lg-6">
                                <div class="form-group row">
                                    <label for="txtNameAdd" class="col-sm-4 col-form-label">Название:</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="txtNameAdd" name="name" placeholder="Название" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="txtEmailAdd" class="col-sm-4 col-form-label">Email:</label>
                                    <div class="col-sm-6">
                                        <input type="email" class="form-control" id="txtEmailAdd" name="email" placeholder="Email" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="txtWebsiteAdd" class="col-sm-4 col-form-label">Сайт:</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="txtWebsiteAdd" name="website" placeholder="Сайт">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="txtAddressAdd" class="col-sm-4 col-form-label">Адрес:</label>
                                    <div class="col-sm-6">
                                        <textarea style="resize: vertical" class="form-control" id="txtAddressAdd" name="address" placeholder="Адрес" rows="2" required></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group row">
                                    <label for="ddlCountryAdd" class="col-sm-4 col-form-label">Страна:</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" id="ddlCountryAdd" name="countryid">
                                            <option>-Выбрать-</option>
                                            <option th:each="country : ${countries}"
                                                    th:value="${country.id}"
                                                    th:text="${country.description}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="ddlRegionAdd" class="col-sm-4 col-form-label">Регион:</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" id="ddlRegionAdd" name="regionid">
                                            <option>-Выбрать-</option>
                                            <option th:each="region : ${regions}"
                                                    th:value="${region.id}"
                                                    th:text="${region.name}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="txtCityAdd" class="col-sm-4 col-form-label">Город:</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="txtCityAdd" name="city" placeholder="Город" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="txtPhoneAdd" class="col-sm-4 col-form-label">Телефон:</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="txtPhoneAdd" name="phone" placeholder="Телефон" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="txtDetailsAdd" class="col-sm-4 col-form-label">Детали:</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="txtDetailsAdd" name="details" placeholder="Детали">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                        <a href="/parameters/suppliers" class="btn btn-danger">Выйти</a>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="script">
    <script defer="defer">
        $('document').ready(function () {
            $("#ddlCountryAdd").on('change', function () {
                $("#ddlRegionAdd").empty().append('<option value="null">-Выбрать-</option>')
                var countryId = $(this).val();

                // Отправка запроса на получение регионов для выбранной страны
                $.get("/parameters/countries/" + countryId, function (country, status) {
                    // Обновление раскрывающегося списка регионов
                    var regions = country.regions;

                    // Заполнение раскрывающегося списка регионов новыми значениями
                    $.each(regions, function (index, region) {
                        $("#ddlRegionAdd").append($("<option>").text(region.name).val(region.id));
                    });
                });
            });
        });
    </script>
</th:block>
</body>
</html>