<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout}">

    <head>
        <title>Управление техническим обслуживанием</title>
    </head>
    <body>
    <div layout:fragment="content">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa fa-bars"></i>Список технического обслуживания транспорта</h3>
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a href="/index">Главная</a></li>
                    <li><i class="fa fa-bars"></i><a href="/vehicles">Транспорты</a></li>
                    <li><i class="fa fa-square-o"></i>Техобслуживание</li>
                </ol>
            </div>
        </div>

        <!-- page start-->
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-3">
                        <a class="btn btn-primary" th:href="@{/vehicles/vehicle-maintenances/addNew}">Добавить</a>
                    </div>
                    <form th:action="@{/vehicles/vehicle-maintenances}">
                        <div class="col-lg-2 navbar-form">
                            <input type="text" name="keyword" class="form-control" placeholder="Поиск">
                        </div>
                        <div class="col-lg-1">
                            <input type="submit" class="btn-success form-control" value="Найти">
                        </div>
                    </form>
                </div>

                <table class="table table-advance table-hover">
                    <thead>
                    <tr>
                        <th><i class="icon_table"></i> <a
                                th:href="@{'/vehicles/vehicle-maintenances/page/id?sortDir=' + ${reverseSortDir}}">id</a></th>
                        <th><i class="icon_table"></i> <a
                                th:href="@{'/vehicles/vehicle-maintenances/page/vehicle?sortDir=' + ${reverseSortDir}}">Транспорт</a></th>
                        <th><i class="icon_table"></i> <a
                                th:href="@{'/vehicles/vehicle-maintenances/page/startDate?sortDir=' + ${reverseSortDir}}">Дата начала</a></th>
                        <th><i class="icon_cogs"></i> <a
                                th:href="@{'/vehicles/vehicle-maintenances/page/supplier?sortDir=' + ${reverseSortDir}}">Поставщик</a></th>
                        <th><i class="icon_table"></i> <a
                                th:href="@{'/vehicles/vehicle-maintenances/page/remarks?sortDir=' + ${reverseSortDir}}">Комментарий</a></th>
                        <th><i class="icon_cogs"></i> Действия</th>
    <!--                    <th><i class="icon_table"></i> <a-->
    <!--                            th:href="@{'/vehicles/vehicle/page/name?sortDir=' + ${reverseSortDir}}">Название</a></th>-->
    <!--                    <th><i class="icon_table"></i> <a-->
    <!--                            th:href="@{'/vehicles/vehicle/page/vehicleNumber?sortDir=' + ${reverseSortDir}}">Номер</a></th>-->
                    </tr>
                    <tr th:each="maintenance:${maintenances}">
                        <td th:text="${maintenance.id}">id</td>
                        <td th:text="${maintenance.vehicle.name}">Транспорт</td>
                        <td th:text="${#dates.format(maintenance.startDate, 'dd-MM-yyyy')}">Дата</td>
                        <td th:text="${maintenance.supplier.name}">Поставщик</td>
                        <td th:text="${maintenance.remarks}">Комментарий</td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-primary" id="editButton"
                                   th:href="@{/vehicles/vehicle-maintenances/Edit/{id}(id=${maintenance.id})}"><i
                                        class="icon_pencil-edit"></i></a>
                                <a class="btn btn-success" id="detailsButton"
                                   th:href="@{/vehicles/vehicle-maintenances/Details/{id}(id=${maintenance.id})}"><i
                                        class="icon_document_alt"></i></a>
                                <a class="btn btn-danger"
                                   onclick="return confirm('Вы уверены, что хотите удалить данные')"
                                   th:href="@{/vehicles/vehicle-maintenances/delete/{id}(id=${maintenance.id})}"><i
                                        class="icon_close_alt2"></i></a>
                            </div>
                        </td>
                    </tr>
                    </thead>
                </table>
                <footer class="panel-footer text-center">
                    <div class="row-footer align-items-center">
                        <div class="col">
                            Количество записей: [[${maintenances.size()}]]
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
    </body>
</html>