<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout}">

<head>
    <title>Управление пользователями</title>
</head>

<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa fa-bars"></i>Список пользователей</h3>
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a th:href="@{index}">Главная</a></li>
                <!--                        <li><i class="fa fa-bars"></i>Параметры</li>-->
                <li><i class="fa fa-square-o"></i>Пользователи</li>
            </ol>
        </div>
    </div>
    <!-- page start-->
    <div class="row">
        <div class="col-lg-12">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal">Добавить
            </button>
            <table class="table table-advance table-hover">
                <thead>
                <tr>
                    <th><i class="icon_table"></i> Id</th>
                    <th><i class="icon_profile"></i> Логин</th>
                    <th><i class="icon_profile"></i> Email</th>
                    <th><i class="icon_cogs"></i> Действия</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user:${users}">
                    <td th:text="${user.id}">Id</td>
                    <td th:text="${user.username}">Логин</td>
                    <td th:text="${user.email == null ? null : user.email}">Email</td>
<!--                    <td th:text="${user.lastname} + ' ' + ${user.firstname}">Полное имя</td>-->
                    <td><a th:href="@{'/roles/user/edit/'+${user.id}}"
                           class="btn btn-setting"><i class="icon_pencil-edit"></i> Управление ролями</a></td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-primary" id="editButton" th:href="@{/users/findById(id=${user.id})}"><i
                                    class="icon_pencil-edit"></i></a>
                            <a class="btn btn-success" id="detailsButton" th:href="@{/users/findById(id=${user.id})}"><i
                                    class="icon_document_alt"></i></a>
                            <a class="btn btn-danger" id="deleteButton" th:href="@{/users/delete(id=${user.id})}"
                               th:data-name="${user.username}"><i class="icon_close_alt2"></i></a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--modal Add New -->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <form th:action="@{/users/addNew}" method="POST">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Новый пользователь</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
<!--                        <div class="form-group">-->
<!--                            <label for="firstnameAdd" class="col-form-label">Имя:</label>-->
<!--                            <input type="text" class="form-control" id="firstnameAdd" name="firstname" placeholder="Имя"-->
<!--                                   required>-->
<!--                        </div>-->

<!--                        <div class="form-group">-->
<!--                            <label for="lastnameAdd" class="col-form-label">Фамилия:</label>-->
<!--                            <input type="text" class="form-control" id="lastnameAdd" name="lastname"-->
<!--                                   placeholder="Фамилия" required>-->
<!--                        </div>-->

                        <div class="form-group">
                            <label for="emailAdd" class="col-form-label">Email:</label>
                            <input type="email" class="form-control" id="emailAdd" name="email" placeholder="Email"
                                   required>
                        </div>

                        <div class="form-group">
                            <label for="usernameAdd" class="col-form-label">Логин:</label>
                            <input type="text" class="form-control" id="usernameAdd" name="username" placeholder="Логин"
                                   required>
                        </div>

                        <div class="form-group">
                            <label for="password" class="col-form-label">Пароль:</label>
                            <input type="password" class="form-control" id="password" name="password"
                                   placeholder="Пароль" required>
                        </div>

                        <div class="form-group">
                            <label for="confirmPassword" class="col-form-label">Подтверждение пароля:</label>
                            <input type="password" class="form-control" id="confirmPassword" placeholder="Пароль">
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                            <button type="submit" class="btn btn-primary">Отправить</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!--Modal Edit-->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <form th:action="@{/users/update}" method="PUT">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Обновление пользователя</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="idEdit" class="col-form-label">ID:</label>
                            <input type="text" class="form-control" id="idEdit" name="id" readonly>
                        </div>

                        <div class="form-group">
                            <label for="firstnameEdit" class="col-form-label">Имя:</label>
                            <input type="text" class="form-control" id="firstnameEdit" name="firstname"
                                   placeholder="Имя" required>
                        </div>

                        <div class="form-group">
                            <label for="lastnameEdit" class="col-form-label">Фамилия:</label>
                            <input type="text" class="form-control" id="lastnameEdit" name="lastname"
                                   placeholder="Фамилия" required>
                        </div>

                        <div class="form-group">
                            <label for="emailEdit" class="col-form-label">Email:</label>
                            <input type="email" class="form-control" id="emailEdit" name="email" placeholder="Email"
                                   required>
                        </div>

                        <div class="form-group">
                            <label for="usernameEdit" class="col-form-label">Логин:</label>
                            <input type="text" class="form-control" id="usernameEdit" name="username"
                                   placeholder="Логин" required>
                        </div>

                        <div class="form-group">
                            <label for="passwordEdit" class="col-form-label">Пароль:</label>
                            <input type="text" class="form-control" id="passwordEdit" name="password"
                                   placeholder="Пароль" required>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                            <button type="submit" class="btn btn-primary">Сохранить</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!--Modal Details-->
    <div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <form>
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Детали пользователя</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="idDetails" class="col-form-label">ID:</label>
                            <input type="text" class="form-control" id="idDetails" name="id" readonly>
                        </div>

                        <div class="form-group">
                            <label for="firstnameDetails" class="col-form-label">Имя:</label>
                            <input type="text" class="form-control" id="firstnameDetails" name="firstname" readonly>
                        </div>

                        <div class="form-group">
                            <label for="lastnameDetails" class="col-form-label">Фамилия:</label>
                            <input type="text" class="form-control" id="lastnameDetails" name="lastname" readonly>
                        </div>

                        <div class="form-group">
                            <label for="emailDetails" class="col-form-label">Email:</label>
                            <input type="email" class="form-control" id="emailDetails" name="email" readonly>
                        </div>

                        <div class="form-group">
                            <label for="usernameDetails" class="col-form-label">Логин:</label>
                            <input type="text" class="form-control" id="usernameDetails" name="username" readonly>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- Modal Delete -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Подтвердить удаление</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Вы уверены, что хотите удалить данные пользователя с именем "<span id="userFullNameSpan"></span>"?
                    </p>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" id="confirmDeleteButton" href="">Подтвердить</a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
                </div>
            </div>
        </div>
    </div>
    <!-- page end-->
    </section>
</div>
</body>

</html>
