<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout}">
<head>
    <title>Детали сотрудника</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa fa-bars"></i>Детали сотрудника</h3>
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="/index">Главная</a></li>
                <li><i class="fa fa-bars"></i><a href="/hr">HR</a></li>
                <li><i class="fa fa-square-o"></i><a href="/hr/employee">Данные о сотрудниках</a></li>
            </ol>
        </div>
    </div>
    <div class="container" style="width: 70%">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <form id="cform" class="form-horizontal">
                    <section class="panel">
                        <header class="panel-heading">Детали запись сотрудника</header>
                        <div class="panel-body">
                            <div class="col-lg-6">

                                <div class="form-group row">
                                    <label for="idDetails" class="col-sm-4 col-form-label">Id:</label>
                                    <div class="col-sm-6">
                                        <input type="text" th:value="${employee.id}" class="form-control" id="idDetails" name="id" disabled>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="txtPassportAdd" class="col-sm-4 col-form-label">Номер паспорт:</label>
                                    <div class="col-sm-6">
                                        <input type="text" th:value="${employee.passport}" class="form-control" id="txtPassportAdd" name="passport" placeholder="Номер паспорт" disabled>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="txtFirstnameAdd" class="col-sm-4 col-form-label">Имя:</label>
                                    <div class="col-sm-6">
                                        <input type="text" th:value="${employee.firstname}" class="form-control" id="txtFirstnameAdd" name="firstname" placeholder="Имя" disabled>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="txtLastnameAdd" class="col-sm-4 col-form-label">Фамилия:</label>
                                    <div class="col-sm-6">
                                        <input type="text" th:value="${employee.lastname}" class="form-control" id="txtLastnameAdd" name="lastname" placeholder="Фамилия" disabled>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="txtOthernameAdd" class="col-sm-4 col-form-label">Отчество:</label>
                                    <div class="col-sm-6">
                                        <input type="text" th:value="${employee.othername}" class="form-control" id="txtOthernameAdd" name="othername" placeholder="Отчество" disabled>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="ddlGenderAdd" class="col-sm-4 col-form-label">Пол:</label>
                                    <div class="col-sm-6">
                                        <input type="text" th:value="${employee.gender}" class="form-control" id="ddlGenderAdd" name="gender" disabled>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="ddlNationalityAdd" class="col-sm-4 col-form-label">Гражданство:</label>
                                    <div class="col-sm-6">
                                        <input type="text" th:value="${employee.country.description}" class="form-control" id="ddlNationalityAdd" name="countryid" disabled>
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <label for="txtDateOfBirthAdd" class="col-sm-4 col-form-label">Дата рождения:</label>
                                    <div class="col-sm-6">
                                        <input type="date" th:field="${employee.dateOfBirth}" class="form-control" id="txtDateOfBirthAdd" name="DateOfBirth" disabled>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="txtAddressAdd" class="col-sm-4 col-form-label">Адрес проживания:</label>
                                    <div class="col-sm-6">
                                        <textarea style="resize: vertical" type="text" th:field="${employee.address}"  class="form-control" id="txtAddressAdd" name="address" rows="2" disabled></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group row">
                                    <label for="ddlRegionAdd" class="col-sm-4 col-form-label">Регион/Область:</label>
                                    <div class="col-sm-6">
                                        <input type="text" th:value="${employee.region.name}" class="form-control" id="ddlRegionAdd" name="regionid" disabled>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="txtCityAdd" class="col-sm-4 col-form-label">Город:</label>
                                    <div class="col-sm-6">
                                        <input type="text" th:value="${employee.city}" class="form-control" id="txtCityAdd" name="city" disabled>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="ddlMaritalStatusAdd" class="col-sm-4 col-form-label">Семейное положение:</label>
                                    <div class="col-sm-6">
                                        <input type="text" th:value="${employee.maritalStatus}" class="form-control" id="ddlMaritalStatusAdd" name="maritalStatus" disabled>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="txtPhoneAdd" class="col-sm-4 col-form-label">Телефон:</label>
                                    <div class="col-sm-6">
                                        <input type="text" th:value="${employee.phone}" class="form-control" id="txtPhoneAdd" name="phone" disabled>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="txtEmailAdd" class="col-sm-4 col-form-label">Email:</label>
                                    <div class="col-sm-6">
                                        <input type="text" th:value="${employee.email}" class="form-control" id="txtEmailAdd" name="email" disabled>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="txtHireDateAdd" class="col-sm-4 col-form-label">Дата найма:</label>
                                    <div class="col-sm-6">
                                        <input type="text" th:value="${#dates.format(employee.hireDate, 'dd-MM-yyyy HH:mm:ss')}" class="form-control" id="txtHireDateAdd" name="hireDate" disabled>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="ddlJobTitleAdd" class="col-sm-4 col-form-label">Должность:</label>
                                    <div class="col-sm-6">
                                        <input type="text" th:value="${employee.jobTitle.description}" class="form-control" id="ddlJobTitleAdd" name="jobtitleid" disabled>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="ddlEmployeeTypeAdd" class="col-sm-4 col-form-label">Тип:</label>
                                    <div class="col-sm-6">
                                        <input type="text" th:value="${employee.employeeType.description}" class="form-control" id="ddlEmployeeTypeAdd" name="employeetypeid" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="panel">
                        <div class="panel-body">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-form-label col-sm-4">Добавлен:</label>
                                    <div class="col-sm-6">
                                        <input type="text" th:value="${employee.createdBy}" class="form-control"
                                               name="createdBy"
                                               disabled>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label col-sm-4">Дата добавления:</label>
                                    <div class="col-sm-6">
                                        <input type="text" th:value="${#dates.format(employee.createdDate, 'dd-MM-yyyy HH:mm:ss')}" class="form-control"
                                               name="createdDate"
                                               disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-sm-4 col-form-label">Последнее обновление от:</label>
                                    <div class="col-sm-6">
                                        <input type="text" th:value="${employee.lastModifiedBy}" class="form-control"
                                               name="lastModifiedByDetails"
                                               disabled>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 col-form-label">Дата обновления:</label>
                                    <div class="col-sm-6">
                                        <input type="text" th:value="${#dates.format(employee.lastModifiedDate, 'dd-MM-yyyy HH:mm:ss')}"
                                               class="form-control" name="lastModifiedDateDetails"
                                               disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="modal-footer">
                        <a href="/hr/employees" class="btn btn-danger">Выйти</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>