<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout}">

<head>
    <title>Управление сотрудниками</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa fa-bars"></i>Список сотрудников</h3>
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="/index">Главная</a></li>
                <li><i class="fa fa-bars"></i><a href="/hr">HR</a></li>
                <li><i class="fa fa-square-o"></i>Данные о сотрудниках</li>
            </ol>
        </div>
    </div>

    <!-- page start-->
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-3">
                    <a class="btn btn-primary" th:href="@{/hr/employees/addNew}">Добавить</a>
                </div>
                <form th:action="@{/hr/employees}">
                    <div class="col-lg-2 navbar-form">
                        <input type="text" name="keyword" class="form-control" placeholder="Поиск">
                    </div>
                    <div class="col-lg-1">
                        <input type="submit" class="btn-success form-control" value="Найти">
                    </div>
                </form>
            </div>

            <table class="table table-advance table-hover">
                <thead>
                <tr>
                    <th>Фото</th>
                    <th><i class="icon_table"></i> <a
                            th:href="@{'/hr/employees/page/fullname?sortDir=' + ${reverseSortDir}}">Полное имя</a></th>
                    <th><i class="icon_table"></i> <a
                            th:href="@{'/hr/employees/page/jobTitle.description?sortDir=' + ${reverseSortDir}}">Должность</a></th>
                    <th><i class="icon_table"></i> <a
                            th:href="@{'/hr/employees/page/hireDate?sortDir=' + ${reverseSortDir}}">Дата найма</a></th>
                    <th><i class="icon_table"></i> <a
                            th:href="@{'/hr/employees/page/email?sortDir=' + ${reverseSortDir}}">Email</a></th>
                    <th><i class="icon_table"></i> <a
                            th:href="@{'/hr/employees/page/country.description?sortDir=' + ${reverseSortDir}}">Гражданство</a></th>
                    <th><i class="icon_table"></i> <a
                            th:href="@{'/hr/employees/page/city?sortDir=' + ${reverseSortDir}}">Город</a></th>
                    <th><i class="icon_cogs"></i> Действия</th>
                </tr>
                <tr th:each="employee:${employees}">
                    <!--                    th:attr="data-photo-url=@{'/img/photos/vehicles/' + ${vehicle.photo}}"-->
                    <td>
                        <a id="photoButton" th:href="@{'/img/photos/employees/' + ${employee.photo}}"
                           th:attr="onclick='sendGetRequest(\'' + ${employee.id} + '\')'">
                            <img th:src="@{'/img/photos/employees/' + ${employee.photo}}" width="40" height="40">
                        </a>
                    </td>
                    <td th:text="${employee.fullname}">#</td>
                    <td th:text="${employee.jobTitle.description}">#</td>
                    <td th:text="${#dates.format(employee.hireDate, 'dd-MM-yyyy')}">#</td>
                    <td th:text="${employee.email}">#</td>
                    <td th:text="${employee.country.description}">#</td>
                    <td th:text="${employee.city}">#</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-primary" id="editButton" title="изменить"
                               th:href="@{/hr/employees/Edit/{id}(id=${employee.id})}"><i
                                    class="icon_pencil-edit"></i></a>
                            <a class="btn btn-success" id="detailsButton" title="детали"
                               th:href="@{/hr/employees/Details/{id}(id=${employee.id})}"><i
                                    class="icon_document_alt"></i></a>
                            <a class="btn btn-info" id="accountButton" title="добавить аккаунт"
                               th:href="@{/hr/employees/Account/{id}(id=${employee.id})}"><i
                                    class="icon_profile"></i></a>
                            <a class="btn btn-danger" title="удалить"
                               onclick="return confirm('Вы уверены, что хотите удалить данные')"
                               th:href="@{/hr/employees/delete/{id}(id=${employee.id})}"><i
                                    class="icon_close_alt2"></i></a>
                        </div>
                    </td>
                </tr>
                </thead>
            </table>
            <footer class="panel-footer text-center">
                <div class="row-footer align-items-center">
                    <div class="col">
                        Количество записей: [[${employees.size()}]]
                    </div>
                </div>
            </footer>

            <!-- Modal Photo -->
            <div class="modal fade" tabindex="-1" role="dialog" id="photoModal">
                <form th:action="@{/vehicles/vehicle/uploadPhoto}" method="POST" enctype="multipart/form-data">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Фото</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <img id="vehiclePhoto" src="" width="95%" height="95%">
                            </div>
                            <div class="modal-footer">
                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <input type="file" class="form-control-file" id="fupPhotoAdd" name="file"
                                               placeholder="Select Photo">
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" id="uploadButton" class="btn btn-primary">Сохранить</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<th:block layout:fragment="script">
    <script defer="defer">
        $('document').ready(function () {
            $('.table #photoButton').on('click', function (event) {
                event.preventDefault();
                var href = $(this).attr('href');
                $('#photoModal #vehiclePhoto').attr('src', href);
                $('#photoModal').modal();
            })
        })

        function sendGetRequest(employeeId) {
            // Создаем новый объект XMLHttpRequest
            var xhr = new XMLHttpRequest();
            var url = '/hr/employees/uploadPhoto/' + employeeId;  // Формируем URL с параметром id
            xhr.open('GET', url, true); // Открываем GET-запрос
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    console.log('GET-запрос успешно выполнен');
                }
            };
            xhr.send();         // Отправляем GET-запрос
        }
    </script>
</th:block>
</body>
</html>