<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">
<body>

<div layout:fragment="content">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa fa-bars"></i>Управление транспортом</h3>
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="/index">Главная</a></li>
                <li><i class="fa fa-bars"></i>Транспорт</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <section class="panel">
                <div class="panel-body">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><h3><b>Данные о транспортах</b></h3></h5>
                            <!--                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
                            <a href="/vehicles/vehicle" class="btn btn-primary">Перейти</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-lg-4">
            <section class="panel">
                <div class="panel-body">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><h3><b>Аренда</b></h3></h5>
                            <!--                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
                            <a href="/vehicles/vehicle_hire" class="btn btn-primary">Перейти</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-lg-4">
            <section class="panel">
                <div class="panel-body">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><h3><b>Техобслуживание</b></h3></h5>
                            <!--                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
                            <a href="/vehicles/vehicle_maintenance" class="btn btn-primary">Перейти</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <section class="panel">
                <div class="panel-body">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><h3><b>Марки транспортов</b></h3></h5>
                            <!--                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
                            <a href="/vehicles/vehicle_make" class="btn btn-primary">Перейти</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-lg-4">
            <section class="panel">
                <div class="panel-body">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><h3><b>Модели транспортов</b></h3></h5>
                            <!--                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
                            <a href="/vehicles/vehicle_model" class="btn btn-primary">Перейти</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-lg-4">
            <section class="panel">
                <div class="panel-body">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><h3><b>Типы транспортов</b></h3></h5>
                            <!--                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
                            <a href="/vehicles/vehicle_type" class="btn btn-primary">Перейти</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <section class="panel">
                <div class="panel-body">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><h3><b>Передвижение</b></h3></h5>
                            <!--                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
                            <a href="/vehicles/vehicle_movement" class="btn btn-primary">Перейти</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-lg-4">
            <section class="panel">
                <div class="panel-body">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><h3><b>Состояние</b></h3></h5>
                            <!--                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
                            <a href="/vehicles/vehicle_status" class="btn btn-primary">Перейти</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

</body>
</html>